<html>

<body>

<h1>Startup Name: {{startup.name}} </h1>

	<a href='{{url_for('newFounder', startup_id = startup.id)}}' > Add new Founder</a>
		
	{% with messages = get_flashed_messages() %}
      {% if messages %}  
        <ul>
        {% for message in messages %}
             <strong> {{ message }} </strong>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


<h1> Founders List: </h1>


<form action="{{ url_for('startupDetails',startup_id = startup.id)}}" method = 'post'>
<ul>
	{% for i in founders %}
	<li> <p><b>Name:</b> {{i.name}}</p>
	<p><b>Bio:</b> {{i.bio}}</p>
	<a href='{{url_for('editFounder', startup_id = startup.id, founder_id=i.id)}}' >Edit</a>
    <a href='{{url_for('deleteFounder', startup_id = startup.id, founder_id=i.id)}}' >Delete</a></li>
</br>
	{% endfor %}
</ul>
</form>
</body>

</html>